<!--The content below is only a placeholder and can be replaced.-->
<header>
  </header>
  <section>
    
  <app-si></app-si>
  <app-swap></app-swap>
<form #addform = "ngForm" (ngSubmit) = "fun(addform.value)" >
   <input type = "text" name = "a" placeholder = "enter first number" ngModel>
   <br/>
   <input type = "text" name = "b" placeholder = "enter second number" ngModel>
   <br/>
   <input type = "submit" value = "submit">
</form>


  <h1>
   {{c}}
  </h1>
  </section>

  <footer>

  </footer>
